.cardGroup {
  display: grid;
  gap: 10px;
  grid-template-areas: "1 1";
}

.cardGroup a {
  text-decoration: none;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.helpfulMessages {
  display: flex;
  flex-direction: column;
  gap: 5em;
  padding-top: 2em;
  width: 70%;
  margin-right: 2em;
}

.messageOfDay {
  border: 1px solid #222;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eaebed;
}

.messageOfDay h3 {
  color: #222;
}

.messageOfDay p {
  width: 70%;
  color: #222;
  text-align: center;
}

@media (max-width: 1310px) {
  .main {
    flex-direction: column;
  }

  .helpfulMessages {
    height: 100%;
    min-width: 100%;
    margin-bottom: 2em;
    margin-right: 0;
    padding: 1em;
  }

  .messageOfDay {
    margin-top: 0;
  }
}
