.navBar img {
  width: 15em;
  background-color: #2e424d;
}

.navBar {
  display: flex;
  width: 100%;
  justify-content: center;
  background: #2e424d;
  height: 5em;
}

.navBar nav {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar nav a {
  text-decoration: none;
}

.navBar nav > ul {
  height: 100%;
  align-items: flex-end;
  padding-bottom: 1em;
  display: flex;
  list-style: none;
}

.navBar nav > ul > li {
  margin-right: 2em;
  font-size: 22px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.logo h1 {
  margin-left: 0.5em;
}

.reactLogo {
  font-size: 50px;
}
