.navBar img {
  width: 20em;
}

.navBar {
  display: flex;
  width: 100%;
  justify-content: center;
  background: rgb(37, 105, 109);
  background: linear-gradient(
    90deg,
    rgba(37, 105, 109, 1) 0%,
    rgba(57, 119, 123, 1) 50%,
    rgba(65, 124, 128, 1) 100%
  );
}

@keyframes bgGradient {
}

.navBar nav {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.navBar nav > ul {
  display: flex;
  list-style: none;
  margin-bottom: 2em;
}

.navBar nav > ul > li {
  margin-right: 2em;
  font-size: 22px;
}
