.taskCard {
  background-color: #eaebed;
  border-radius: 1em;
  margin: 1em;
  width: 20em;
  height: 15em;
  box-shadow: 10px 5px 10px #222;
}

.taskCard div > p {
  margin-top: 1em;
}

.taskCardTittle {
  background-color: #98dad9;
  border-radius: 1em 1em 0 0;
  color: #222;
  height: 20%;
  display: flex;
  align-items: center;
  padding-left: 1em;
  font-weight: bold;
}
.taskCard div > p > span {
  color: #222;
  font-weight: bold;
}
.taskCard div > p {
  color: #222;
}
.buttons {
  width: 100%;
  display: flex;
  padding-right: 3em;
}

.mobileTaskCard {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20em;
  height: 8em;
  border-radius: 1em;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 1140px) {
}

@media (max-width: 600px) {
  .buttons {
    display: none;
  }
  .taskCardTittle {
    width: 10em;
    height: 100%;
    word-wrap: break-word;
  }
  .mobileTaskCard > div {
    width: 10em;
  }

  .mobileTaskCard > div > p {
    margin-top: 0.5em;
    font-size: 11px;
  }
}
