.btn {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-right: 2em;
  margin-bottom: 1em;
}

.title {
  color: #222;
  font-size: 25px;
  margin-bottom: 0.5em;
}

.login {
  color: #222;
}

.login a {
  text-decoration: none;
  color: #8b8888;
  transition: 0.2s;
}

.login a:hover {
  color: #bb8282;
}
