.select label {
  color: #222;
}

.select select > option {
  color: #222;
}

.select select {
  margin-left: 0.9em;
  border-radius: 0.3em;
  height: 2em;
  color: #222;
  background-color: #d9d9d9;
  text-align: center;
}

.selectFilter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.selectFilter label {
  margin-bottom: 0.3em;
}
