.select label {
  color: #222;
}

.select select > option {
  color: #222;
}

.select select {
  margin-left: 0.9em;
  border-radius: 0.3em;
  height: 2em;
  color: #222;
  background-color: #d9d9d9;
  text-align: center;
}

.margin-left {
  margin-top: 0.5em;
}
