.addTaskForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.addTaskForm p {
  width: 30em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e424d;
  border-radius: 2em;
}

.addTaskForm form {
  border: 1px solid #222;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  background-color: #eaebed;
  align-items: center;
  width: 100%;
  border-radius: 2em;
  padding: 1em 0;
}
