.btn {
  background-color: #606060;
  margin-top: 0.5em;
  color: #cacaca;
  border-radius: 2em;
  width: 40%;
  cursor: pointer;
  margin-left: 2em;
  opacity: 0.8;
}
.btn:hover {
  opacity: 1;
}

.modalBtn {
  width: 45%;
  height: 2.5em;
  transform: 1s;
  opacity: 0.8;
  cursor: pointer;
}

.modalBtn:hover {
  opacity: 1;
}

@media (max-width: 1140px) {
  .btn {
    height: 3em;
  }
}
