.label {
  color: #222;
}

.input {
  border-radius: 0.3em;
  height: 2em;
  color: #222;
  background-color: #d9d9d9;
  border: none;
  padding: 0 1em 0 1em;
  margin: 0.5em 0;

  border: 1px solid #222;
}

.formInput {
  margin: 0.5em;
}

.formInput input {
  margin-left: 1em;
}

.nameFilter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
}

@media (max-width: 1140px) {
  .input {
    margin-top: 1em;
    height: 2.5em;
  }
}
