* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
  color: #cacaca;
}

@font-face {
  font-family: DeliusIntern;
  src: url("./assets/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf");
}
