.fadeIn {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 10;
  background-color: #fff;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 90%;
  padding: 1.2rem;
  border-radius: 0.5rem;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.modalHeader p {
  color: #222;
  font-weight: bold;
  font-size: 20px;
  height: 1em;
}

.modalHeader div {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.btn {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.deleteTask {
  display: flex;
  justify-content: space-between;
}

.deleteTask button {
  background-color: rgb(234, 107, 107);
  color: #222;
  border: none;
  border-radius: 1em;
  padding: 0.1em;
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 1em;
  width: 20%;
}

.description {
  margin-top: 1em;
}

.description p {
  word-wrap: break-word;
}
