.textArea textarea {
  padding: 0.5em 0 0 01em;
  min-height: 3em;
  max-height: 50em;
  min-width: 10em;
  max-width: 100em;
  color: #222;
  width: 456px;
}

.textArea p {
  color: #222;
}

@media (max-width: 543px) {
  .textArea textarea {
    width: 300px;
    max-height: 10em;
  }
}
